body{
    /* display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3, auto); */
    /* background-color: #1F1B24; */
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    grid-column: 1/6;
}

h1{
    /* color: white; */
}
h2{
    /* color: white; */
    font-size: 22px;
    margin: 40px;
}

#board{
    display:grid;
    margin: auto;
    width: 700px;
    height: 700px;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    border: 1px solid black;
}

.cell{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border:1px solid black;
    padding: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.cell:hover{
    background-color: rgb(247, 245, 101);
}

button{
    margin: 50px;
}